<.link patch="/" class="rounded-lg px-2 py-1 hover:bg-zinc-200/80">
  Blog
</.link>
<.link patch="/about" class="rounded-lg px-2 py-1 hover:bg-zinc-200/80">
  About
</.link>
<.link
  href="https://github.com/phoenixframework/phoenix"
  class="rounded-lg px-2 py-1 hover:bg-zinc-200/80"
>
  Github
</.link>
